.profile{
	margin-left:30px;
}

.btn{
	margin-left:10px;
}

.container{
	background-color:white;
}

.ot{
	margin:40px;
}

.prdhd{
	
	font-family:MV Boli;
}

.logo{
	margin:35px;
}

.log{
	margin:5px;
}


